# Ignorar documentos
*.docx
*.doc
*.pdf
*.xlsx
*.zip
*.png
*.jpg
*.jpeg
*.tmp

# Ignorar claves privadas
*.pem

# Ignorar carpetas no relacionadas
.vscode/
__pycache__/
RDD y DataFrame/
Test/
MPI/
Clientes ISP/
Xamarin project*/
